<html>

<head>
  ${$('head').html()}
  <style>
    .friends span {
      visibility: visible;
    }
  </style>
</head>

<body>
  <div class="friends">
    ${$('div.friends').html()!}
  </div>
  <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <script>
    alert("fuc22k");
    $(document).ready(function () {
      alert("fuck");
      var cnt = 0;
      $('a[href^="/user/"]').each(function () {
        try {
          var href = $(this).attr('href');
          if (/^\/user\/\d+$/.test(href)) {
            cnt++;
            $(this).attr('href', null);
            var id = Number.parseInt(href.substring(href.lastIndexOf('/') + 1));
            $(this).on('click', function (e) {
              e.preventDefault();
              e.stopPropagation();
              send({
                action: "openUser",
                id: id
              });
            });
          }
        } catch (e) {}
      });
      alert(cnt);
      $('span[onclick]').each(function () {
        try {
          var onclick = $(this).attr('onclick');
          $(this).attr('onclick', null);
          var id = Number.parseInt(onclick.match(/\d+/)[0]);
          var isAddFriend = onclick.startsWith('addFriend');
          $(this).on('click', function () {
            var self = this;
            if (isAddFriend) {
              send({
                action: "addFriend",
                id: id
              }).then(function (res) {
                if (res.state === 'ok') {
                  $(self).text("取消互粉");
                } else {
                  alert(res.msg);
                }
              });
              isAddFriend = false;
            } else {
              send({
                action: "deleteFriend",
                id: id
              }).then(function (res) {
                if (res.state === 'ok') {
                  $(self).text("+关注");
                } else {
                  alert(res.msg);
                }
              });
              isAddFriend = true;
            }
          });
        } catch (e) {}
      });
      $('.jf-paginate a[href*="?p="]').each(function () {
        try {
          var href = $(this).attr('href');
          $(this).attr('href', null);
          var p = Number.parseInt(href.substring(href.lastIndexOf('=') + 1));
          $(this).on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            send({
              action: "openPage",
              p: p
            });
          });
        } catch (e) {}
      });
    })
  </script>
</body>

</html>